
main{
   background-color: #dadbf1;
   height: 27.9rem;
   display: flex;
   padding-bottom: 1rem;
   
   section {
      // background-color: tomato;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin: 0 auto;
      width: 75%;
      align-items: center;
      justify-content: center;


      .head-title {
         font-size: 3rem;
      }

      .head-title-secondary {
         font-size: 2rem;
         margin-bottom: 2rem;
      }

      .search {
         display: flex;
         align-items: center;
         // border: 2px solid #DDD;
         border-radius: 3px;
         padding: 5px 10px;
         width: 70%;
         background-color: #ffffff;
         transition: all .3s ease-in-out;
         border: #222 2px solid;

         &:hover, &:focus-within {
            border-color: #AAA;
         }


         
         input[type="text"] {
            border: none;
            outline: none;
            padding: 20px;
            flex-grow: 1;
            background: none;
            border-radius: 3px;
            
            transition: all .3s ease;
            font-size: 1.1rem;
            

            &::placeholder {
               color: #BBB;
            }
         }

         button {
            background: none;
            border: none;
            cursor: pointer;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            color: #000000;
         }
      }
      
   }

}
